<div class="modal" id="share-modal">
    <div class="modal-content modal-content--share">
        <button class="modal_close" type="button">
            <img src="assets/images/cancel.svg" alt="close">
        </button>
        <ul class="social">
            <li class="social_item">
                <a class="social_link" href="#">
                    <img src="assets/images/facebook.svg" alt="alt">
                </a>
            </li>
            <li class="social_item">
                <a class="social_link" href="#">
                    <img src="assets/images/twitter.svg" alt="alt">
                </a>
            </li>
            <li class="social_item">
                <a class="social_link" href="#">
                    <img src="assets/images/vk.svg" alt="alt">
                </a>
            </li>
            <li class="social_item">
                <a class="social_link" href="#">
                    <img src="assets/images/copy.svg" alt="alt">
                </a>
            </li>
        </ul>
    </div>
</div>